.logoutBtn{
    display: flex;
    border: none;
    background-color: hsl(0, 79%, 60%);
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: auto;
    position: relative;
    right: 10px;
    left: auto;
    font-family: bold;
}